.tiff-header {
  width: 100%;
  height: auto;
  background: #ff5722;
  padding: 0 20px;
  box-sizing: border-box;
}

.tiff-header-content {
  max-width: 1280px;
  height: auto;
  padding: 10px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.tiff-logo {
  width: 70px;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .tiff-header-content {
    max-width: 1280px;
    min-height: 0px;
    text-align: center;
  }

  .tiff-logo {
    width: 50px;
    margin-top: 5px;
  }
}